---
layout: default
---

<section
  id="main"
  class="flex flex-col md:flex-row items-center justify-center py-16 md:h-screen border-b-2"
>
  <div class="md:mx-2">
    <img
      class="object-cover w-full h-full sm:w-80 sm:h-80 sm:rounded-full"
      src="{{ page.image | relative_url | default: '../assets/images/photokarine.png' }}"
      alt="{{ page.description }}"
    />
  </div>
  <div class="fadeIn mx-4 w-4/5 md:w-2/5 text-center md:text-left mt-6 md:mt-0">
    <div class="prose prose-h1:mb-1">{{ page.main_content | markdownify }}</div>
    {% if site.contact_channels_section %}
    <p class="mt-4">
      {{ site.data[site.active_lang].strings.home.contact_me | default:
      site.data['en'].strings.home.contact_me}}
    </p>

    {% include contact_channels.html %} {% endif %}
  </div>
</section>

{% if site.projects.size > 0 %}
<section
  id="projects"
  class="bg-soft-gradient"
>
  <div class="container mx-auto flex flex-col items-center justify-center min-h-screen">
    <div class="py-16 w-full">
      <h2 class="text-3xl font-bold text-center md:text-left">
        {{ site.data[site.active_lang].strings.home.projects_title | default:
        site.data['en'].strings.home.projects_title}}
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-16 py-8 md:py-16">
        {% for project in site.projects limit:2 %} {% include project_card.html
        project=p
